<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<form [formGroup]="form" class="p-1" (ngSubmit)="register()">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-group">
        <label>Nome Completo</label>
        <input type="text" class="form-control" formControlName="nomeCompleto" [ngClass]="{'is-invalid': f.nomeCompleto?.errors && f.nomeCompleto?.touched}"  placeholder="Insira o Nome Completo" />
        <div class="invalid-feedback">
          Nome Completo é obrigatório
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="text" formControlName="email" [ngClass]="{'is-invalid': f.email?.errors && f.email?.touched}"  placeholder="Insira o Email" />
        <div class="invalid-feedback" *ngIf="f.email.errors?.required && f.email?.touched">
          Email é obrigatório
        </div>
        <div class="invalid-feedback" *ngIf="f.email.errors?.email && f.email?.touched">
           não é um email valido
        </div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control" type="text" formControlName="userName" [ngClass]="{'is-invalid': f.userName?.errors && f.userName?.touched}" placeholder="Insira o nome de Usuário" />
        <div class="invalid-feedback">
          usuario é obrigatório
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="inputfuncao">Função</label>
          <select class="form-control" formControlName="funcao" id="inputfuncao">
            <option selected value="NaoInformado">Selecione uma Função</option>
            <option value="NaoInformado">Não Informado</option>
            <option value="Gerente">Gerente</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" formControlName="password" [ngClass]="{'is-invalid': f.password?.errors && f.password?.touched}" type="password" placeholder="Digite uma Senha" />
          <div class="invalid-feedback">
            senha é obrigatório
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control" formControlName="passwordConfirm" [ngClass]="{'is-invalid': f.passwordConfirm?.errors && f.passwordConfirm?.touched}" type="password" placeholder="Confirme a Senha" />
          <div class="invalid-feedback" *ngIf="f.passwordConfirm.errors?.required">
            Confirmar senha é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.passwordConfirm.errors?.MustMatch">
          As senhas não conhecidem
          </div>
        </div>
      </div>
      <div class="form-row mt-3">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5"
            type="submit" [disabled]="!form.valid">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

	</div>
</div>
