<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <label class="input-group-text" >Filtro:</label>
        </div>
        <input type="text" class="form-control" [(ngModel)]="filtroLista"
        placeholder="buscar">
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/sessoes/novo">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
  </div>
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <th>#</th>
        <th>Filme</th>
        <th>Duração</th>
        <th>Data da Sessão</th>
        <th>Inicio</th>
        <th>Final</th>
        <th>Valor do Ingresso</th>
        <th>Tipo da Animação</th>
        <th>Tipo Audio</th>
        <th>Sala</th>
        <th>Quantidade de Assentos</th>
        <th>Operações</th>
      </thead>
      <tbody *ngIf="sessoes && sessoes.length">
        <tr *ngFor="let sessao of sessoesFiltrados">
          <td>{{sessao.id}}</td>
          <td>{{sessao.filme.titulo}}</td>
          <td>{{sessao.filme.duracao}}</td>
          <td>{{sessao.dataSessao | date:"dd/MM/yyyy"}}</td>
          <td>{{sessao.horarioInicial | date:"HH:mm"}}</td>
          <td>{{sessao.horarioFinal | date:"HH:mm"}}</td>
          <td>{{sessao.valorIngresso | currency}}</td>
          <td>{{sessao.tipoAnimacao}}</td>
          <td>{{sessao.tipoAudio}}</td>
          <td>{{sessao.sala.nome}}</td>
          <td>{{sessao.sala.quantidadeAssentos}}</td>
          <td>
            <button type="button" class="btn btn-outline-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!sessoes.length">
        <tr>
          <td colspan="8" class="text-center"><h4>Nenhuma Sessão encontrado</h4></td>
        </tr>
      </tfoot>
    </table>
  </div>

  <ng-template #template>
    <div class="modal-body text-center">
      <p>Tem certeza que quer excluir uma Sessão?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
    </div>
  </ng-template>
